/**Footer**/
footer {
    color: $fourth-color;
    background: $fifth-color;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.05);
}
  
.website-links {
    display: flex;
    height: 207px;
  
    h2 {
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.5px;
    }
  
    a {
        opacity: 0.795553;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.3px;
        margin-bottom: 10px;

        &:hover,
        &:focus {
            opacity: 1;
            color: $fourth-color;
        }
    }
}
  
.company-section,
.account-section,
.support-section {
    width: 30%;
    height: 112px;
    margin: auto;
}
  
.company-section {
    margin-left: 20px;
}
  
.company-links,
.account-links,
.support-links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
  
.social-links {
    width: 100%;
    height: 76px;
    border-top: 2px solid #585a5d;
    border-bottom: 2px solid #585a5d;
    @include flexAlign(row, space-around, center);

    a {
        width: 40px;
        height: 40px;
        background: linear-gradient(135deg, #0069D2, #28E1A5);
        border-radius: 50%;
        @include flexAlign(row, space-around, center);

        &:hover,
        &:focus {
            transition: 0.4s;
            background: linear-gradient(135deg, #28E1A5, #0069D2);;
        }
  
        .dark-background {
            @include flexAlign(row, space-around, center);
            background: $fifth-color;
            border-radius: 50%;
            width: 35px;
            height: 35px;

            img {
                width: 24px;
                height: 24px;
                background: $fifth-color;
            }
        }
      
    }
}
  
.language-legal-info {
    height: 66px;
    @include flexAlign(row, space-around, center);
}
  
.legal-info {
    width: 70%;
    @include flexAlign(row, space-around, center);
  
    p {
        font-size: 10px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.3px;
    }
  
    a {
        text-decoration: none;
        opacity: 0.803052;
        color: $fourth-color;
        font-size: 10px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.3px;
        
        &:hover,
        &:focus {
            opacity: 1;
            color: $fourth-color;
        }
    }
}
  
.legal-links {
    display: flex;
    flex-direction: column;  
}
  
.language-selector {
    position: relative;
    width: 60px;
    height: 17px;
    @include flexAlign(row, space-around, center);

    select {
        color: $fourth-color;
        background: $fifth-color;
        height: 17px;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.5px;
        border: none;
        -webkit-appearance:none;
        -moz-appearance:none;
        appearance: none;

        &:hover {
            cursor: pointer;
        }
    }
   
    option {
        color: $fourth-color;
    }
}
  
.language-selector::after {
    content:"\2304";
    height: 17px;
    font-size: 17px;
    font-weight: 400;
    position: absolute;
    top: -7px;
    right: -5px;
}