@include media-screen-medium {
    .top-product-nav {
        justify-content: flex-start;

        a {
            width: 120px;

            &:nth-child(3) {
                border-right: 2px solid $border-color;
              }
        }

    }

    .menu-burger {
        display: none;
    }

    .main-links {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 387px;
        height: 71px;
        top: 0;
    }

    .hero-text {
        width: 500px;
        height: 120px;
        font-size: 36px;
        line-height: 50px;
    }

    .media-testimonial {
        min-width: 340px;
    }

    .grid-library-cards {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        flex-flow: row wrap;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .grid-card {
        &:nth-child(even) {
            margin-left: 25px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

}

@include media-screen-large {
    .main-nav {
        justify-content: space-between;
    }
    
    .ifitcoach-logo {
        padding-left: 40px;
    }

    .sign-up-button {
        margin-right: 23px;
    }

    .hero-text {
        width: 984px;
        height: 180px;
        font-size: 72px;
        line-height: 90px;
    }

    .left-arrow-button {
        left: 8px;
    }
      
    .right-arrow-button {
        right: 8px;
    }

    .grid-library-cards {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .grid-card {
        margin: 12px;

        &:nth-child(even) {
            margin-left: 10px;
        }

        &:last-child {
            margin-bottom: 12px;
        }

    }

}

@include media-screen-xlarge {
    .media-testimonial {
        min-width: 440px;
        padding: 0;
        margin: 0 11px;
    }

    .media-text {
        width: 360px;
        height: 48px;
    }

    .left-arrow-button {
        left: 10px;
    }
      
    .right-arrow-button {
        right: 10px;
    }

    .grid-library-cards {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .grid-card {
        margin: 12px;

        &:nth-child(even) {
            margin-left: 10px;
        }

        &:last-child {
            margin-bottom: 12px;
        }

    }
}