@include media-screen-medium {
    .top-product-nav {
        justify-content: flex-start;

        a {
            width: 120px;

            &:nth-child(3) {
                border-right: 2px solid $border-color;
              }
        }

    }

    .menu-burger {
        display: none;
    }

    .main-links {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 387px;
        height: 71px;
        top: 0;
    }

    .hero-text {
        width: 500px;
        height: 120px;
        font-size: 36px;
        line-height: 50px;
    }

}

@include media-screen-large {
    .main-nav {
        justify-content: space-between;
    }
    
    .ifitcoach-logo {
        padding-left: 40px;
    }

    .sign-up-button {
        margin-right: 23px;
    }

    .hero-text {
        width: 984px;
        height: 180px;
        font-size: 72px;
        line-height: 90px;
    }
}