@import './variables';
@import './config';
@import './navbar';
@import './hero';
@import './mediaslider';
@import './gridlibrary';
@import './equipment';
@import './footer';
@import './responsive';

body {
  margin: 0;
  font-family: proxima-nova, 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $fourth-color;

  a {
    text-decoration: none;
    &:hover,
    &:focus {
      color: $secondary-color;
      cursor: pointer;
    }
  }

  button {
    cursor: pointer;
    transition: 0.4s;
    &:hover,
    &:focus {
      background-color: $blue-hover-color;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
